body {
    height: 100vh;
    padding: 10px;

    background-image: linear-gradient(to right, rgba(247, 158, 158, 0.4), rgba(255, 255, 255, 0.2)),
             url(../public/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
};
